In [1]:
# Variable & Input
name= "fatima" #string
age=23
price= 25.8
print("name")

name

In [3]:
name= "fatima"
age=23
price= 25.8
print(name)

fatima

In [7]:
# Variable & Input
name = "fatima"
age = 23
price = 25.9
print("my name is ", name)
print("my age is", age)
print("price is", price)

my name is  fatima
my age is 23
price is 25.9

In [9]:
#data type
name = "fatima"
age = 23
price = 25.9

print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
a=2
b=5
sum= a+b
print(sum)

7

In [23]:
#arithematic operators
a=10
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #remainder
print(a**b) #a^b a power b

16
4
60
1.6666666666666667
4
1000000

In [25]:
#relational operator
a=50
b=20
print(a==b) #False
print(a!=b) #True
print(a>=b) #True
print(a<b)  #False
print(a<=b) #False
print(a>b)  #True

False
True
True
False
False
True

In [29]:
#type conversion
a="2"
b=4.25
print(a+b)

TypeError: can only concatenate str (not "float") to str

In [31]:
#type conversion
a=int("2")
b=4.25
print(a+b)
print(type(a))

6.25
<class 'int'>

In [ ]:
#input
name = input("Enter your name: ")
print("Welcome", name)